
	h1 {
		color:red;
		font-size:24px;
		font-family:"Trebuchet MS", Helvetica,sans-serif;
	}	

	html {
		background-image: url("/https://static.pexels.com/photos/33045/lion-wild-africa-african.jpg");
		
	}
	
